@import './var.scss';
@import './media.scss';
@import './clear.scss';
.mask{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    z-index: 2;
}