@import './var.scss';
@font-face {
    font-family: 'HarmonyOS-Font';
    font-display: swap;
	src: url('../fonts/HarmonyOS_Sans_Medium.ttf') format('truetype');
    // src: url('//at.alicdn.com/t/webfont_0q82cltaxst.eot'); /* IE9*/
    // src: url('//at.alicdn.com/t/webfont_0q82cltaxst.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    // url('//at.alicdn.com/t/webfont_0q82cltaxst.woff2') format('woff2'),
    // url('//at.alicdn.com/t/webfont_0q82cltaxst.woff') format('woff'), /* chrome、firefox */
    // url('//at.alicdn.com/t/webfont_0q82cltaxst.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
html,
body,
#__nuxt,
#__nuxt > div {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: $white-200;
	font-family: 'HarmonyOS-Font';
}
h1,h2,h3,h4,h5,h6{
    color: $text-500;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
    font-size: $font-size-1;
}
h2 {
    font-size: $font-size-2;
}
h3 {
    font-size: $font-size-3;
}
h4 {
    font-size: $font-size-4;
}
h5 {
    font-size: $font-size-5;
}
h6 {
    font-size: $font-size-6;
}

blockquote{
	margin-left: 0;
	margin-right: 0;
	color: $text-500;
}

a{
	color: $blue-700;
	text-decoration: none;
}