blockquote{
	margin: 0;
	text-align: left;
	color: $text-200;
	// margin-bottom: 8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
h1+blockquote {
	margin-bottom: 8px;
}
h3+span {
	display: inline-block;
	width: 80%;
	margin: auto;
}
ul {
	li {
		margin: 16px 0;
	}
}
del{
	transition: background .5s ease-in-out, color .5s ease-in-out;
	background: black;
	color: black;
	cursor: pointer;
}
del:hover{
	color: black;
	background: transparent;
}
p{
	line-height: 1.7;
	font-size: 16px;
	margin: 0;
}