// Color
$text-100: var(--text-100);
$text-200: var(--text-200);
$text-300: var(--text-300);
$text-400: var(--text-400);
$text-500: var(--text-500);
$text-600: var(--text-600);
$text-700: var(--text-700);
$text-800: var(--text-800);
$text-900: var(--text-900);

$primary-100: var(--primary-100);
$primary-200: var(--primary-200);
$primary-300: var(--primary-300);
$primary-400: var(--primary-400);
$primary-500: var(--primary-500);
$primary-600: var(--primary-600);
$primary-700: var(--primary-700);
$primary-800: var(--primary-800);
$primary-900: var(--primary-900);

$green-100: var(--green-100);
$green-200: var(--green-200);
$green-300: var(--green-300);
$green-400: var(--green-400);
$green-500: var(--green-500);
$green-600: var(--green-600);
$green-700: var(--green-700);
$green-800: var(--green-800);
$green-900: var(--green-900);

$blue-100: var(--blue-100);
$blue-200: var(--blue-200);
$blue-300: var(--blue-300);
$blue-400: var(--blue-400);
$blue-500: var(--blue-500);
$blue-600: var(--blue-600);
$blue-700: var(--blue-700);
$blue-800: var(--blue-800);
$blue-900: var(--blue-900);

$yellow-100: var(--yellow-100);
$yellow-200: var(--yellow-200);
$yellow-300: var(--yellow-300);
$yellow-400: var(--yellow-400);
$yellow-500: var(--yellow-500);
$yellow-600: var(--yellow-600);
$yellow-700: var(--yellow-700);
$yellow-800: var(--yellow-800);
$yellow-900: var(--yellow-900);

$red-100: var(--red-100);
$red-200: var(--red-200);
$red-300: var(--red-300);
$red-400: var(--red-400);
$red-500: var(--red-500);
$red-600: var(--red-600);
$red-700: var(--red-700);
$red-800: var(--red-800);
$red-900: var(--red-900);


$white-100: var(--white-100);
$white-200: var(--white-200);
$white-300: var(--white-300);
$bg-1: var(--bg-1);
$bg-2: var(--bg-2);
$bg-3: var(--bg-3);

$space-100: var(--space-100);
$space-200: var(--space-200);
// border
$rounded-xs: 4px;
$rounded-md: 8px;
$rounded-lg: 16px;
$container-width: 100%;
// font-size
$font-size-1: var(--font-size-1);
$font-size-2: var(--font-size-2);
$font-size-3: var(--font-size-3);
$font-size-4: var(--font-size-4);
$font-size-5: var(--font-size-5);
$font-size-6: var(--font-size-6);
$font-size-normal: var(--font-size-normal);
$font-size-sm: var(--font-size-sm);

$padding-sm: var(--padding-sm);
$padding-md: var(--padding-md);
$padding-lg: var(--padding-lg);

$anime-fn: cubic-bezier(0.94, -0.02, 0.15, 0.98);


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@media screen and (max-width: 640px){
	.container{
		width: 95%;
		margin: auto;
	}
}

@media screen and (min-width: 640px) {
    .container{
        max-width: 540px;
        margin: auto;
    }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
    .container{
        max-width: 720px;
        margin: auto;
    }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
    .container{
        max-width: 960px;
        margin: auto;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1100px;
        margin: auto;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media screen and (min-width: 1400px) {
    .container{
        max-width: 1140px;
        margin: auto;
    }
}